@import url(https://fonts.googleapis.com/css?family=Roboto|Noto+Serif);

* {
    box-sizing: border-box;
}

body {
    font-size: 0.8rem;
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    background-color: hsl(246,100%,95%);
}

#masthead {
    font-family: 'Noto Serif', serif;
    margin: 0;
    padding: 1em;
    background-color: hsl(246,100%,50%);
    color: white;
}

main {
    padding: 2rem;
}

.wrapper {
    display: block;
    overflow: hidden;
    margin-bottom: 1rem;
}

label, input {
    height: 1.5rem;
}

label {
    display: none;
    width: 6rem;
}

.subwrapper {
    float: left;
    display: block;
    width: 100%;
    overflow: hidden;
}

.subwrapper input {
    width: 100%;
}

.subwrapper input:valid {
    border-color: green;
}

.subwrapper input:invalid {
    border-color: red;
}

input[type="submit"] {
    width: 10rem;
    background-color: hsl(246,100%,35%);
    color: white;
    clear: both;
}

@media screen and (min-width: 640px) {
    body {
        font-size: 1.0rem;
    }

    .wrapper {
        width: 50%;
        float: left;
    }
    
    label {
        display: block;
        clear: both;
    }

    .subwrapper {
        width: 75%;
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.2rem;
    }
    label {
        float: left;
        clear: none;
    }
}